@import 'scss/variables';

.quotation-form {
  display: grid;
  gap: 0.5rem;
  @media screen and (min-width: $dl-grid-breakpoint-mobile-rem) {
    max-width: 22rem;
  }

  &__document-container {
    display: flex;
  }

  &__document-input {
    width: 100%;
    border-radius: 0 0.5rem 0.5rem 0 !important;
  }

  &__policies {
    margin-top: 0.5rem;
  }

  &__terms-conditions {
    margin-top: 0.5rem;
  }

  &__submit-button {
    z-index: 1;
    margin-top: 1rem;
    @media screen and (max-width: $dl-grid-breakpoint-mobile-rem) {
      margin-right: auto;
      margin-left: auto;

      width: 90%;
      height: 3.5rem;
    }
  }
}
