@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

$dl-color-white: #fff;
$dl-color-grey-10: #f8f9ff;
$dl-color-grey-60: #5e6488;
$dl-color-grey-100: #03050f;
$dl-color-grey-30: #ccd1ee;
$dl-color-neutrals-200: #edeffc;
$dl-color-neutrals-400: #d7dbf5;
$dl-color-neutrals-500: #a9afd9;
$dl-color-neutrals-600: #7981b2;
$dl-color-neutrals-700: #141938;
$dl-color-blue-berry: #4f4fff;
$dl-color-red-berry: #ff1c44;
$dl-color-green-berry: #069441;
$dl-spacing-inline-xxs-rem: 1rem;
$dl-font-family-light: 'Josefin Sans';
$dl-font-size-xs_s: 0.625rem;
$dl-font-size-xs: 0.75rem;
$dl-font-size-sm: 0.875rem;
$dl-font-size-md: 1rem;
$dl-font-size-md_b: 1.125rem;
$dl-font-size-lg_s: 1.25rem;
$dl-font-size-lg: 1.5rem;
$dl-border-radius-lg: 1rem;
$dl-font-weight-regular: 400;
$dl-font-weight-semibold: 600;
$dl-font-weight-bold: 700;
$dl-font-weight-bold_b: 900;
$dl-grid-breakpoint-mobile-rem: 55rem;
